$color-primary: #0CA0B5;
$color-primary-2: #00A1BE;
$color-primary-3: #0087AA;
$color-primary-4: #006D95;
$color-primary-light: #22c7dd;
$color-primary-light-hover: #1b6b75;
$color-primary-dark: #106f80;
$color-primary-dark-hover: #0d393f;
$color-green-dark :#005B88;