// common-feature

.common-feature {
    position: relative;
    background-image: url("../images/device-dental.jpg");
    @include imageJustify();
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #ffffff, $alpha: .92);
    }
}
.common-feature .container__card {
    background-color: #00B3CC;
    position: relative;
    & .content {
        padding: 4rem 1.5rem 0 1.5rem;
        color: #fff;
    }
    &.card--2 {
        background-color: $color-primary-2 ;
    }
    &.card--3 {
        background-color: $color-primary-3 ;
    }
    &.card--4 {
        background-color: $color-primary-4 ;
    }
    & .content--btn {
        background-color: #fff;
        color: #000000;
        display: inline-block;
        padding: 0.625rem 1rem;
        margin-top: 0.5rem;
        margin-bottom: 3.125rem;
        margin-left: 1.5rem;
        transition: 0.3s ease-in-out;
        &:hover {
            background-color: rgb(201, 194, 194);
            transform: translateY(-2px);
        }
    }
}

.common-feature .container__card {
    &.card--1 {
        & .icon-card {
            @include iconCard;
            background-image: url("../images/dental-care.png");
        }
    }
    &.card--2 {
        & .icon-card {
            @include iconCard;
            background-image: url("../images/teeth-care.png");
        }
    }
    &.card--3 {
        & .icon-card {
            @include iconCard;
            background-image: url("../images/tooth-white.png");
        }
    }
    &.card--4 {
        & .icon-card {
            @include iconCard;
            background-image: url("../images/dental-implant.png");
        }
    }
}

.common-feature .outstanding {
    & .right img {
        @include imageJustify();
        width: 100%;
    }
    & .content {
        &__header {
            &--title {
                color: $color-primary;
                font-size: 3.75rem;
                font-weight: 700;
                letter-spacing: .1rem;
                line-height: 1.15;
                margin-top: 1rem;
            }
            &--subtitle {
                font-size: 1.25rem;
            }
        }
        &__script {
            font-size: 1.2rem;
            text-align: justify;
        }
        & .dash {
            width: 6rem;
            height: 3px;
            background-color: $color-primary ;
            margin-top: 0.5rem;
        }
    }
}

@media screen and (max-width: 479px) {
    .common-feature .outstanding .content__header--title {
        font-size: 2.3rem;
    }
}

@media (min-width: 480px) and (max-width: 575px) {
    .common-feature .outstanding .content__header--title {
        font-size: 2.75rem;
    }
}

// doctor-team

.dr-team {
    padding: 2rem 0 5rem 0;
    background-color: #e0e0e0;
    & .dr-card {
        margin-top: 3rem;
    }
}

.dr-team .container {
    & .dr-card {
        background-clip: content-box;
        color: hsl(0, 0%, 100%);
        opacity: 0;
        transform: scale(0.95);
        & .container-img {
            position: relative;
            & .search-info {
                position: absolute;
                opacity: 0;
                width: 100%;
                top: 0;
                height: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: $color-primary-light;
                font-size: 3rem;
                text-align: center;
                transition: 0.25s ease-in-out;;
                & .iconify {
                    height: 100%;
                }
                
            }
            &:hover .search-info{
                height: 100%;
                opacity: 1;
            }
        } 
        &--contact {
            float: right;
            margin: 0 1rem 1rem;
            & a {
                position: relative;
                &:not(:last-child){
                    margin-right: 0.3rem;
                }
                display: inline-block;
                width: 2.5rem;
                height: 2.5rem;
                font-size: 2rem;
                color: #00a2ff;
                background-color: #ffffff;
                border-radius: 50%;
                text-align: center;
                
                & .iconify {
                    margin-top: -1.0625rem;
                }
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 1px solid #ffffff;
                    background-color: $color-green-dark;
                    mix-blend-mode: hard-light;
                    transition: all 0.3s ease;
                    transform-origin: center;
                    transform: scale(1);
                }
                &:hover {
                    &::before {
                        transform: scale(0);
                    }
                    color: #00B6FF;
                }
            }
        }
    }
    @include cardLayout;
}

.dr-team .dr-card {
    &--1 {
        background-color: $color-primary-3;
        & .icon-card {
            @include iconCard;
            width: 3rem;
            height: 3rem;
            background-size: 2rem;
            top: -2rem;
            border: none;
            background-image: url("../images/dental-care.png");
            &--2 {
                left: 3.5rem;
                background-image: url("../images/dental-implant.png")
            }
            
        }
    }
    &--2 {
        background-color: $color-primary-3;
        & .icon-card {
            @include iconCard;
            width: 3rem;
            height: 3rem;
            background-size: 2rem;
            top: -2rem;
            border: none;
            background-image: url("../images/teeth-care.png");
            &--2 {
                left: 3.5rem;
                background-image: url("../images/dental-care.png")
            }
        }
    }
    &--3 {
        background-color: $color-primary-3;
        & .icon-card {
            @include iconCard;
            width: 3rem;
            height: 3rem;
            background-size: 2rem;
            top: -2rem;
            border: none;
            background-image: url("../images/tooth-white.png");
        }
    }
    &--4 {
        background-color: $color-primary-3;
        & .icon-card {
            @include iconCard;
            width: 3rem;
            height: 3rem;
            background-size: 2rem;
            top: -2rem;
            border: none;
            background-image: url("../images/dental-implant.png");
        }
    }

}

// section testimonials 

.testimonial {
    @include headingSection();
    &__content {
        opacity: 0;
        color: #ffffff;
        transform: scale(0.95);
        &--1 {
            background-color: $color-primary-light;
        }
        &--2 {
            background-color: $color-primary;
        }
        &--3 {
            background-color: #0087AA;
        }
        &--4 {
            background-color: $color-green-dark;
        }
        &--info{
            text-align: center;
            & h4 {
                margin-top: 0.5rem;
            }
            & .client-img {
                border-radius: 50%;
                border: 3px solid #ffffff;
                @include imageJustify();
                width: 100%;
                max-width: 190px;
            }
            & .sign-img img{
                @include imageJustify();
                width: 100px;
            }
        }
        &--text {
            & blockquote {
                position: relative;
                padding: 20px 0 20px 20px;
                margin: 0;
                & i {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.2;
                    font-size: 3.75rem;
                }
                & p {
                    font-size: 1.3rem;
                }
            }
        } 
    }
}

@media screen and (max-width: 479px) {
    .testimonial .container__heading h2 {
        font-size: 2.3rem;
    }
}

// contact us

.contact-us {
    background-color: $color-green-dark;
    color: #ffffff;
    & .content {
        padding: 2.5rem;
        & a {
            background-color: #ffffff;
            padding: 13px 26px;
            transition: 0.3s ease-in-out;
            &:hover {
                background-color: #c9c2c2;
                transform: translateY(-2px);
            }
        }
        & .heading {
            & h2 {
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .contact-us .content {
        & a {
            padding: 0.5rem 1rem;
        }
        & .heading h2 {
            font-size: 1.5rem;
        }
    }
}

// section services

.services {
    @include headingSection();
    & .container {
        @include cardLayout;
        & .sv-card {
            opacity: 0;
            transform: scale(0.95);
            margin-top: 3rem;
            & h5::first-letter {
                text-transform: uppercase;
            }
            & h5 {
                font-size: 1.1rem;
                font-weight: 400;
            }
            & h3 {
                text-transform: uppercase;
                transition: 0.25s ease-in;
            }
            & .container--card {
                height: 100%;
                font-family: Merriweather;
                transition: 0.25s ease-in;
            }
            & .container--card:hover {
                box-shadow: 0 0 42px 6px rgba(0, 0, 0, 0.2);
                transform: translateY(-2px);
                & h3 {
                    color: $color-primary;
                }
            }
            &--1 {
                & .icon-card {
                    @include iconCardService;
                    background-image: url("../images/icon-smile.png");
                    
                }
            }
            &--2 {
                & .icon-card {
                    @include iconCardService;
                    background-image: url("../images/dental-implant.png");
                }
            }
            &--3 {
                & .icon-card {
                    @include iconCardService;
                    background-image: url("../images/dental-care.png");
                }
            }
            &--4 {
                & .icon-card {
                    @include iconCardService;
                    background-image: url("../images/dental-bridge.png");
                }
            }
            &--5 {
                & .icon-card {
                    @include iconCardService;
                    background-image: url("../images/dental-crown.png");
                    
                }
            }
            &--6 {
                & .icon-card {
                    @include iconCardService;
                    background-image: url("../images/dental-braces.png");
                }
            }
            &--7 {
                & .icon-card {
                    @include iconCardService;
                    background-image: url("../images/dental-veneer.png");
                }
            }
            &--8 {
                & .icon-card {
                    @include iconCardService;
                    background-image: url("../images/tooth-white.png");
                }
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .services .container__heading h2 {
        font-size: 2.3rem;
    }
}

// section map
.map {
    & .container-map {
        position: relative;
        & .containerWorkingHour {
            width: 350px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            transition: 1s cubic-bezier(.190,1,.220,1);
            &.closed {
                transform: translateX(-100%);
            }
            & #btn-toggle {
                position: absolute;
                background-color: $color-primary-light;
                width: 40px;
                height: 40px;
                right: 0;
                top: 45%;
                cursor: pointer;
                transition: 1s cubic-bezier(.190,1,.220,1);
                transform-origin: right;
                &.rotate {
                    transform: rotate(180deg);
                }
                &::after {
                    content: attr(data-icon);
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    color: #fff;
                    font-size: 1.5rem;
                }
            }
            & .working-hours-wrap {
                color: #ffffff;
                & h3 {
                    text-transform: uppercase;
                }
                & .working-hours {
                    padding-top: 1rem;
                    overflow: hidden;
                    & .row {
                        line-height: 2;
                        border-bottom: 1px solid $color-primary;
                    }
                }
                & .contact {
                    padding-top: 0.625rem;
                    & a {
                        color: #ffffff;
                        transition: 0.25s ease-in;
                    }
                    & a:hover {
                        color: $color-primary-light;
                    }
                }
            }
        }
    }
}
.TopSpace {
    padding-top: 40px;
}

@media (max-width: 576px){
    .map .container-map .containerWorkingHour {
        width: 250px;
        font-size: 0.9rem;
        & h3 {
            font-size: 1.2rem;
        }
    }
}
@media (max-width: 768px){
    .map iframe {
        height: 500px;
    }
}